.reportHis{
    .top{
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #fcafc3;
        .tit{
            padding: 0.3rem 0.5rem;
            display: inline-block;
            width: 90%;
            color: #ff7480;
        }
        .addres{
            padding: 0.3rem 0.5rem;
            display: inline-block;
            margin-bottom: 0.4rem;
            .icon{
                color: #ff7480;
                vertical-align: middle;
                font-size: 0.9rem;
            }
        }
    }
    .content{
        display: inline-block;
        margin: 0.5rem 0 0;
        width: 100%;
        .fL{
            width: 49.5%;
            border-right: 1px solid #eaeaea;
            .sp{
                display: inline-block;
                width: 100%;
                text-align: center;
                padding: 0.2rem 0;
            }
            .sptit{
                font-size: 0.9rem;
                color: #333333;
            }
            .spnum{
                font-size: 0.8rem;
                color: #666666;
            }
            .spd{
                font-size: 1.4rem;
                color: #ff7480;
            }
        }
        .fL:last-child{
            border-right: 0;
        }
        
    }
    .outer_l:last-child{
        margin-bottom: 3.3rem;
    }
}
.outer_l .outer_n{
    padding: 0.5rem 0;
}
