.fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
    background: #fbc0bc;
    padding: 0.5rem;
}
.fc-head{
    background: #ffe4e6;
    padding: 0.3rem;
    display: inline-block;
    th,.fc-row,thead{
        border-width:0;
        border-color: #ffe4e6 !important;
    }
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #ffe4e6;
}
.fc-state-default{
    background-color: #ff7480;
    background-image:none;
    border: 0;
    color: #FFFFFF;
}
.fc button .fc-icon{
    top: 0;
    
}
.fc-left{
    .fc-button{
        padding: 0 1.2em;
    }
}
.fc-right{
    .fc-button{
        padding: 0 1.2em;
    }
}
.fc-center{
    .fc-state-default.fc-corner-right{
        background: none;
        color: #fa3468;
        font-size: 1.2rem;
        height: auto;
        padding: 0;
        border: 0;
        box-shadow: none;
    }
    .fc-button{
        padding: 0;
        margin-left: 0;
    }
    
}

.fc-head {
    padding: 0.5rem 0.3rem;
    color: #666666;
    .fc-widget-header{
        font-weight: 100;
    }
}

.fc-basic-view .fc-body .fc-row {
    min-height: 3em;
}
#calendar .fc-row .fc-content-skeleton thead {
    line-height: 3.2em !important;
}
