.date_sel {
    position: relative;
    width: 66%;
    .el-date-editor.el-input{
        width: auto;
    }
      .el-input__inner {
          height: auto;
          border: 0;
          text-align: right;
          width: 100%;
          font-size: 0.8rem;
          line-height: auto;
          padding: 0;
          padding-right: 1rem;
          color: #333333;
      }
      .el-icon-time:before {
          display: none;
      }
    //.el-input__icon {
    //    line-height: none;
    //}
    //.el-input__suffix {
    //    right: 0;
    //}
    //input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    //    color:#999999;
    //}
    //input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    //    color:#999999;
    //}
    //input::-moz-placeholder { /* Mozilla Firefox 19+ */
    //    color:#999999;
    //}
    //input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    //    color:#999999;
    //}
    //input::input-placeholder{
    //    color: #999999;
    //}
}

.addNum{
    width: 50%;
    .el-input--medium .el-input__inner{
        height: 26px;
    }
    .el-input-number--medium{
        width: 100%;
        line-height: 25px;
    }
}

.date_sel:before {
    content: '';
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-top: 1px solid #fa3468;
    border-right: 1px solid #fa3468;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    right: 0.8rem;
    position: absolute;
    z-index: 1;
    top: 0.4rem;
}

.taskBtn .el-button{
    text-align: center;
    background: #fa3468;
    color: #FFFFFF;
    padding: 0.6rem 0;
    width: 40%;
    margin-left: 30%;
}


