.fillIn {
    .el-input__inner {
        border: 0;
        height: auto;
        color: #333333;
        padding: 0.2rem 0;
        font-size: 0.8rem;
        line-height: normal;
    }
    .el-icon-arrow-up:before {
        display: none;
    }
    input::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #999999;
        font-size: 0.8rem;
    }
    input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #999999;
        font-size: 0.8rem;
    }
    input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #999999;
        font-size: 0.8rem;
    }
    input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #999999;
        font-size: 0.8rem;
    }
    input::input-placeholder {
        color: #999999;
        font-size: 0.8rem;
    }
}

.select:before {
    content: '';
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-top: 1px solid #ff9ca4;
    border-right: 1px solid #ff9ca4;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    right: 0.8rem;
    position: absolute;
    z-index: 1;
    top: 0.6rem;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #ff7480;
    border-color: #ff7480;
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: #ff7480;
    background: #ff7480;
}

.el-checkbox__inner:hover {
    border-color: #ff7480;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #ff7480;
}