.signIn{
  .selAddr {
    display: inline-block;
    width: 100%;
    padding: 0.8rem;
    background: #fff;
    .s_addr {
      color: #333;
      font-size: 1rem;
      float: left;
      padding-top: 0.2rem;
    }
    .stores {
      background: #ff7480;
      color: #fff;
      border-radius: 3px;
      padding: 0.3rem 0.8rem 0.4rem;
      font-size: 1rem;
      float: right;
    }
  }
  .remark{
      padding: 0.5rem;
      border-top: 3px solid #fcafc3;
      background: #fff7f9;
      margin-top: 0.6rem;
      .textarea{
          min-height: 4rem;
          width: 100%;
          border: 0;
          background: none;
          resize: none;
      }
  }

  .map {
    width: 100%;
    margin: 4% 0 0;
    display: inline-block;
    //background: #a6c0e2;
    text-align: center;
    height: 10rem;
    line-height: 8rem;
  }

  .signTime {
    text-align: center;
    .sinTime {
      width: 7.5rem;
      height: 7.5rem;
      border-radius: 50%;
      background: #fa3468;
      text-align: center;
      display: inline-block;
      color: #fff;
      margin-top: 1.8rem;
      .sp1 {
        display: inline-block;
        width: 100%;
        font-size: 1.2rem;
        margin-top: 2rem;
        margin-bottom: 0.3rem;
      }
      .sp2 {
        display: inline-block;
        width: 100%;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .sinNum {
      padding: 0;
      margin: 1rem 0 0;
      font-size: 0.8rem;
      em {
        font-style: normal;
        color: #ff7480;
      }
    }
  }
}







