.taskMk{
    background: #FFFFFF;
    display: inline-block;
    padding: 0;
    width: 100%;
    .name{
        border-bottom: 1px solid #fcafc3;
        line-height: 2.4rem;
        display: inline-block;
        width: 100%;
        font-size: 1.2rem;
        color: #ff7480;
    }
    .headCon{
        display:inline-block;
        width: 100%;
        padding: 0.6rem 0;
        margin-bottom: 1.2rem;
        .z_s{
            display: inline-block;
            width: 100%;
            line-height: 2rem;
        }
        .hCon{
            width: 6%;
            margin-right: 0.3rem;
            .tit{
                color: #ff7480;
                .icon{
                    font-size: 1rem;
                }
            }
        }
        .rwCon{
            width: 88%;
            .xqrw{
                border-top: 1px solid #eaeaea;
                display: inline-block;
                width: 100%;
                padding-top: 0.6rem;
                margin-top: 0.3rem;
                line-height: 1.4rem;
                border-bottom: 1px solid #eaeaea;
                padding-bottom: 0.6rem;
            }
        }
    }
}
.taskXm{
    margin: 0.2rem 0;
    background: #FFFFFF;
    display: inline-block;
    width: 100%;
    .tasklie{
        float: left;
        width: 33.32%;
        text-align: center;
        border-right: 1px solid #eaeaea;
        display: inline-block;
        
        .bq{
            width: 3rem;
            height: 3rem;
            line-height: 3.1rem;
            background: #fdf3eb;
            color: #ff7480;
            border-radius: 50%;
            display: inline-block;
            font-size: 1.2rem;
        }
        a{text-decoration:none;}
        .tast_z{
            width: 100%;
            display: inline-block;
            padding-top: 0.5rem;
            color: #333333;
        }
    }
    .tasklie:last-child{
        border-right: 0;
    }
}