.signIn {
    width: 100%;
    margin-bottom: 4rem;
}

.headPic {
    display: inline-block;
    padding: 0.8rem;
    width: 100%;
    background: #fdf3eb;
    .hImg {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        float: left;
        background: #eee;
        .head {
            width: 100%;
            border-radius: 50%;
        }
    }
    .name {
        float: left;
        margin-left: 0.5rem;
        .sp1 {
            width: 100%;
            display: inline-block;
            font-size: 1rem;
            color: #333333;
            padding: 0.3rem 0 0.4rem;
        }
        .sp2 {
            width: 100%;
            display: inline-block;
            font-size: 0.8rem;
            color: #999999;
        }
    }
    .sinnNum {
        float: right;
        font-size: 0.8rem;
        margin-top: 1rem;
        .num {
            font-style: normal;
            color: #ff7480;
            font-size: 1rem;
        }
    }
}

.signLie {
    background: #fff;
    display: inline-block;
    margin-bottom: 0.3rem;
    .lieDate {
        border-bottom: 1px solid #eaeaea;
        height: 1rem;
        width: 100%;
        display: INLINE-BLOCK;
        margin-bottom: 1rem;
        .h3 {
            background: #FFFFFF;
            font-size: 0.8rem;
            margin: 0;
            padding: 0 0.2rem;
            display: inline-block;
            color: #333333;
            .s_zi {
                font-size: 1.2rem;
            }
        }
    }
    .lieCon {
        .conTime {
            float: left;
            width: 28%;
            display: inline-block;
            text-align: left;
            font-size: 1.2rem;
            font-weight: bold;
            padding-left: 0.2rem;
        }
        .conAddress {
            float: left;
            width: 63%;
            display: inline-block;
            .s_czi {
                display: inline-block;
                width: 100%;
                font-size: 0.8rem;
                color: #999999;
                line-height: 1.2rem;
            }
            .tit {
                color: #333333;
                font-size: 1rem;
                margin-bottom: 0.2rem;
                margin-top: 0.1rem;
            }
        }
    }
}

.signIn .map {
    width: 100%;
    margin: 4% 0 0;
    display: inline-block;
    background: #a6c0e2;
    text-align: center;
    min-height: 8rem;
    line-height: 8rem;
}