.fillIn {
    .el-input__inner {
        height: auto;
        padding: 0;
        border: 0;
        color: #333333 !important;
        font-size: 1rem;
        line-height: normal;
    }
    input::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #999999;
        font-size: 1rem;
    }
    input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #999999;
        font-size: 1rem;
    }
    input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #999999;
        font-size: 1rem;
    }
    input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #999999;
        font-size: 1rem;
    }
    input::input-placeholder {
        color: #999999;
        font-size: 1rem;
    }
}
.el-input.is-disabled .el-input__inner {
    background-color: #FFFFFF;
    border-color: #FF0000;
    color: #333333;
}